$ /etc/ssh/ssh_config

`/etc/ssh/ssh_config` is the *ssh client* system-wide → development/security/SSH/configuration#ssh-config-file[configuration file].

sa:

  The user's ssh config file is located in `→ Linux/fhs/home/username/_ssh/config`. 

 `→ Linux/shell/commands/man 5 ssh_config`
