$ /etc/sshd_config

{ Interesting settings

  table { ll

   `HostKey` ☰ defines host keys, typically stored in → Linux/fhs/etc/ssh/ssh_host-algorithm-key[`/etc/ssh_host_<algorithm>_key`]
   `PasswordAuthentication` ☰
   `PermitRootLogin` ☰

  table }

}

sa:
 `→ Linux/fhs/etc/ssh/ssh_config`
