$ Oracle: DBA_HIST_WR_CONTROL
@ dba_hist_wr_control

code {
select
   wrc.dbid,
   wrc.snap_interval,
   wrc.retention,
   wrc.topnsql,
   wrc.con_id,
   wrc.src_dbid,
   wrc.src_dbname
from
   dba_hist_wr_control wrc;
   
code }

sa:

 `→ development/databases/Oracle/installed/packages/dbms/workload/repository[dbms_workload_repository].modify_snapshot_settings`

  → development/databases/Oracle/installed/data-dictionary/hist[`dba_hist*` views]
