$ init/Kconfig

This files seems to contain the various → Linux/kernel/CONFIG[CONFIGs] and sometimes a description for it.

More (x86 related CONFIGS) are found in  → Linux/kernel/source/arch/x86/Kconfig.
