div, table, h1  {font-family: Liberation Sans}

h1 {

  color: red;

}

div.h {

  margin-left: 20px;

}

div.t {
  width: 500px;
}

div.g {
  height: 9px;
}


table {
  border-collapse: collapse;
}

code {
  font-family: monospace
}

pre.code {

    font-family: monospace;
	  background-color:#f6f9e3;
	  color:#10205f;
	  padding-left:10px; 
    padding-top:5px;
    padding-bottom:5px;
    margin-top:2px;
  	border:1px solid #004080;
}

div.ghf { /* Github file */
  font-size: 12px;
  font-style: italic;
}

div.bottom {
  height: 2000px;
}

ul {
  margin-top: 2px;
}
