$ make defconfig

`→ Linux/kernel/compilation/make defconfig` creates a new configuration file (typically `→ Linux/kernel/source/_config`) with default from `→ Linux/kernel/source/arch/SRCARCH/configs[arch/$SRCARCH/configs]/defconfig` or `→ Linux/kernel/source/arch/SRCARCH/configs[arch/$SRCARCH/configs]/${PLATFORM}_defconfig`, depending on the architecture.

code {
$ git clone --depth 1 -b master https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git ~/linux-defconfig-test
$ cd ~/linux-defconfig-test
$ ls -la .config
ls: cannot access '.config': No such file or directory
$ make V=1 defconfig
…
→ Linux/kernel/source/scripts/kconfig/conf  --defconfig=→ Linux/kernel/source/arch/SRCARCH/configs[arch/x86/configs]/x86_64_defconfig Kconfig
#
# configuration written to .config
#
code }

sa:
  The variable → Linux/kernel/source/arch/SRCARCH/Makefile#linux-KBUILD_DEFCONFIG[`KBUILD_DEFCONFIG`] (defined in `→ Linux/kernel/source/arch/SRCARCH/Makefile`).
