$ Oracle: DBA_RULES
@ dba_rules

code {
SQL> desc dba_rules
 Name                           Null?    Type
 ------------------------------ -------- ----------------------------------------------------------------------------
 RULE_OWNER                     NOT NULL VARCHAR2(128 BYTE)
 RULE_NAME                      NOT NULL VARCHAR2(128 BYTE)
 RULE_CONDITION                          CLOB
 RULE_EVALUATION_CONTEXT_OWNER           VARCHAR2(128 BYTE)
 RULE_EVALUATION_CONTEXT_NAME            VARCHAR2(128 BYTE)
 RULE_ACTION_CONTEXT                     RE$NV_LIST
 RULE_COMMENT                            VARCHAR2(4000 BYTE)
code }

sa:

  → development/databases/Oracle/objects/rules

  → development/databases/Oracle/installed/data-dictionary
