$ /etc/crontab

The system wide → Linux/cron/crontab.

Unlike any other crontab, after editing *this* file, or files in → Linux/fhs/etc/cron_d, `crontab' does not need to
be run.

These files also have username fields that none of the other crontabs do.

sa:
  → Linux/cron
