$ Oracle: Init parameter _FIX_CONTROL
@ _fix_control

`_fix_control` is the *bugfix control parameter*: it is (typically) used in the *optimizer area* to enable or disable certain bug fixes.


sa:

 `→ development/databases/Oracle/installed/packages/dbms/sqldiag[dbms_sqldiag].get_fix_control`.

 `v$session_fix_control`, `v$system_fix_control`

  → development/databases/Oracle/adminstration/init-parameters
