$ System.Windows.Forms.Control (class)

`System.Windows.Forms.Control` is the base class for visual controls such as buttons, list boxes etc.
-
This class inherits from `System.ComponentModel.Component`.

sa:
  `System.Web.UI.Control`, `System.Web.UI.WebControls.WebControl`
