$ include/linux/kconfig.h

? `include/linux/kconfig.h` includes `→ Linux/kernel/source/include/generated/autoconf_h`.

Some macros defined in `kconfig.h` include
table { ll
  `IS_BUILTIN(OPT)` ☰ Evaluates to 1 if `CONFIG_OPT` is set to `y` and to 0 otherwise. For boolean options, this macro is equivalent to `IS_ENABLED(OPT)`.
  `IS_MODULE(OPT)`  ☰ Evaluates to 1 if `CONFIG_OPT` is set to `m` and to 0 otherwise. For boolean options, this macro is equivalent to `IS_ENABLED(OPT)`.
  `IS_ENABLED(OPT)` ☰ Evaluates to 1 if `CONFIG_OPT` is set to `y` or `m` and to 0 otherwise. For boolean options, this macro is equivalent to `IS_ENABLED(OPT)`.
  `IS_REACHABLE(OPT)` ☰ EValuates to 1 if the currently compiled code can call a function defined in code compiled based on `CONFIG_OPT`. Similar to `IS_ENABLED()` but returns 0 when invoked from built-in code when `CONFIG_OPT` is set to `m`.
table }
