$ Documentation/kbuild/kconfig.rst

This file has some notes on using → Linux/kernel/compilation/make[`make *config`].

links:
  → https://github.com/torvalds/linux/blob/master/Documentation/kbuild/kconfig.rst
