
@font-face {
  font-family: Liberation Sans;
  src:         local("Liberation Sans"),
               local("Liberation Sans Regular"),
               local("LiberationSans-Regular"),
               url(/font/LiberationSans-Regular.ttf);
               font-weight: normal; font-style: normal;
}

@font-face {
  font-family: Liberation Sans;
  src:         local("Liberation Sans Italic"),
               local("LiberationSans-Italic"),
               url(/font/LiberationSans-Italic.ttf);
               font-weight: normal; font-style: italic;
}

@font-face {
  font-family: Liberation Sans;
  src:         local("Liberation Sans Bold"),
               local("LiberationSans-Bold"),
               url(/font/LiberationSans-Bold.ttf);
               font-weight: bold; font-style: normal;
}

@font-face {
  font-family: Liberation Sans;
  src:         local("Liberation Sans Bold Italic"),
               local("Liberation Sans BoldItalic"),
               local("LiberationSans-BoldItalic"),
               url(/font/LiberationSans-BoldItalic.ttf);
               font-weight: bold; font-style: italic;
}



div, table, h1  {font-family: Liberation Sans}

h1 {
  margin-bottom: 6px;
}

h2, h3, h4 {
  margin-bottom: 4px;
}

div.h {
  margin-left: 20px;
}


div.g, blockquote .gap {
  height: 9px;
}


table {
  border-collapse: collapse;
}

code {
  font-family: monospace
}

pre.code {

    font-family: monospace;
	  background-color:#f6f9e3;
	  color:#10205f;
	  padding-left:10px; 
 /* padding-top:5px;
    padding-bottom:5px;
    margin-top:2px;
    margin-bottom: 2px; */
  	border:1px solid #004080;
}

div.ghf { /* Github file */
  font-size: 12px;
  font-style: italic;
}

div.bottom {
  height: 2000px;
}

ul {
  margin-top: 2px;
  margin-bottom: 2px;
}
.uc {
  color: #aaa;
}

footer {
  margin-left: 50px;
}
cite {
  font-style: normal;
  color:#023005;
}

a.ext {
  color:green;
}

img {
  display:block
}

@media screen {

  body {margin-left: 2em;}
  
  div.t { width: 45em;}


  pre.code, blockquote {
    padding-top:3px;
    padding-bottom:5px;
    margin-top:2px;
    margin-bottom: 2px;
  }
  
  blockquote {
    
    background-color: #f9f9f9;
    margin-left: 20px;
    width: 43em; /* 45 - 2 */
    font-family: Garamond;
    color: #061;
  
  }

}
@media print {

  div.t { width: 17cm;}

  h1 {font-size: 20px}
  h2 {font-size: 18px}
  h3 {font-size: 16px}

  pre.code, blockquote {
  
      padding-top:3px;
      padding-bottom:5px;
      margin-top:2px;
      margin-bottom: 2px;
  
  }
  
  blockquote {
    
/*  background-color: #f9f9f9; */
    margin-left: 0.5cm;
    width: 16.5cm;
    font-family: Garamond;
/*  color: #061; */
  
  }

  div.screen-only {display: none}
  a {text-decoration: none; color: black}
}

