div, table, h1  {font-family: Liberation Sans}

h1 {
  color: red;
  margin-bottom: 6px;
}

h2, h3, h4 {
  margin-bottom: 4px;
}

div.h {

  margin-left: 20px;

}

div.t {
  width: 500px;
}

div.g, blockquote .gap {
  height: 9px;
  /* background-color: red; */
}


table {
  border-collapse: collapse;
}

code {
  font-family: monospace
}

pre.code {

    font-family: monospace;
	  background-color:#f6f9e3;
	  color:#10205f;
	  padding-left:10px; 
 /* padding-top:5px;
    padding-bottom:5px;
    margin-top:2px;
    margin-bottom: 2px; */
  	border:1px solid #004080;
}

div.ghf { /* Github file */
  font-size: 12px;
  font-style: italic;
}

div.bottom {
  height: 2000px;
}

ul {
  margin-top: 2px;
  margin-bottom: 2px;
}
.uc {
  color: #aaa;
}

pre.code, blockquote {

    padding-top:3px;
    padding-bottom:5px;
    margin-top:2px;
    margin-bottom: 2px;

}

blockquote {
  
  background-color: #f9f9f9;
  margin-left: 20px;
  width: 480px;
  font-family: Garamond;
  color: #061;

}
footer {
  margin-left: 50px;
}
cite {
  font-style: normal;
  color:#023005;
}

a.ext {
  color:green;
}

img {
  display:block
}
